body {
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf2f7;
    color: #1f2d3d;
}

#generatePlanButton{
    margin-top: 16px;
    padding: 12px 50px;
}
